body{
    background: #ffffff;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 auto; */
    /* background-color: blue; */
    margin-top: 2rem;
    margin-left: .5rem;
    margin-bottom: 2rem;
    
}
.container .nav .nav-logo{
    /* margin: 2rem 3rem; */
    background-color: red;
    height: 200px;

}
/* .nav h2{
    background-color: blue;
} */

.nav input[type=text]{
    /* float:right; */
    padding:.6em;
/*     
    margin-top: 8px;
    margin-right: 16px; */
    font-size: 17px;
    /* width: 100%; */
    /* margin: 0.5rem auto; */
    border: 0.5px solid #888888;
    box-sizing: border-box;
    border-radius: 10px;
    width: 30rem;
    }
.container{
    display: flex;
    justify-content: space-between;
}
.container .left{
    width: 15%;
    /* background-color: red; */
}

a{
    text-decoration: none;
}
.container .left .up{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
    /* height: 8rem; */
   

}
.container .left .up .links{
    margin-top: .5rem;
    padding: .3em;
}
.container .left .up .links a, .left .down a{
    /* margin-top: 70rem; */
    color: #121212;
    /* text-align: center; */
    padding-left: 1em;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

}
.container .left .up a:hover,.container .left .down a:hover{
    color: grey;
}
.container .left .up .home{ 
    background: #3D89F5;
    border-radius: 10px;
}

.container .left .down{
    margin-top: 17rem;
}

.container .left .down a{
    /* margin-top: 15rem;
    background-color: blue; */
    color: #121212;
    padding-left: 1em;
}


.container .right{
    width:85%;
/* height: 500px; */


background: #F0F2F7;
border-radius: 20px 0px 0px 20px;
padding-left: 5rem;
padding-top: 5em;
padding-bottom: 5em;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.container .right .top{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;

}
.container .right .top .name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
}
.container .right .top .name span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */
    
    
    color: #121212;
}

.container .right .bottom{
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 80%;
}
.container .right .bottom .row{
padding-left: 2em;
}
.container .right .bottom .row p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #888888;
}
.container .right .bottom .row span{

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;

color: #121212;

}