body{
    background-color:#3D89F5;
}
/* .container .nav h2{
    color: white;
} */
.container .nav{
    margin: 2rem 3rem;
}

.container .white-frame-container{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;
    width: 35%;
}
.white-frame-container .top h4{
    margin: 2rem auto 3rem auto;
    /* margin: 0 auto; */
    
    /* width: 199px;
    height: 28px;
    left: 621px;
    top: 295px; */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    color: #121212;

}
.white-frame-container .top .mail{
    margin: 0 auto;
    /* margin-left: 200rem; */
}

.white-frame-container .top, .inputs{
    display: flex;
    flex-direction: column;
}

.white-frame-container .top .inputs .terms{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    
}
/* .inputs .left{
    /* background-color: blue; */
    padding-top: .77em;
} */


.inputs .right a{
   /* background-color: red; */
   
}

.white-frame-container .top .inputs p,.white-frame-container .bottom p {
/* color: #3D89F5; */
/* background-color: red; */
text-align: center;
}

.white-frame-container .top input[type=email],input[type=password]{
    /* float:right; */
    padding:.6em;
/*     
    margin-top: 8px;
    margin-right: 16px; */
    font-size: 17px;
    width: 70%;
    margin: 0.5rem auto;
    border: 1px solid #3D89F5;
    box-sizing: border-box;
    border-radius: 10px;    
    }
    

.btn{
    border: none;
    /* background-color: inherit; */
    padding:14px 28px;
    font-size: 16px;
    cursor:pointer;
    display: inline-block;
    width: 60%;
    
    margin: 5rem auto;

    background: #3D89F5;
    border-radius: 10px;
}
.btn:hover{
    background: rgb(33, 13, 216);
}
.info{
    background-color: rgba(232,232,232,0.9);
    /* color: dodgerblue; */
}

.white-frame-container .inputs a,.white-frame-container .bottom a{
    /* margin: 0 auto;
    width: 55%; */
    /* background-color: red; */
    color: #3D89F5;
}
p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 1px;
    
    color: #121212;
    }