body{
    background-image: url('img/main.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 3rem;
}

.header {
    text-align: center;
    margin-top: 3rem;
    /* background-color: blue; */
}

.logo .logo-pic img{
    width: 40%;
}


.logo{
    display: flex;
    flex-direction: column;
   /* background-color: orange; */
   /* height:20rem; */
   padding-bottom: 1.3rem;
   
}

.logo .logo-pic{
    display: flex;
   /* background-color: red; */
   height:10rem;
  padding-left: 6rem;
  
}

.logo .pic{
   /* background-color: yellow; */
   align-items: center;
  /* height: 250px; */
  margin: auto;
  padding-left: 5rem;

}

.status{
    display: flex;
    
}
.status img{
    width: 2rem;   
}
.status .status-logo{
    /* background-color: brown; */
   
    align-items: center;
    /* height: 250px; */
    margin: auto;
    /* padding-left: 100px; */
    /* display: flex;
    flex-direction: column; */
  
}
.panel{
    background-color: rgba(232,232,232,0.9);
    /* background-color:rgba(255,0,0,0.3); */
    /* background-color: black; */
    /* height: 400px; */
    border-radius: 2.5%;
    width: 85%;
    /* border:  solid; */
    margin-left: 6rem;
    margin-top: 2rem;


}

.panel h3{
    text-align: center;
    padding-top: 1.5rem;
}
.panel p{
    color: black;
    padding-left: 3rem;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
   
}
.panel .tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}